-r requirements.txt
coverage
coveralls>=2.0
wheel
pep517
invoke
tox>=2.0
wheel
pysolr
django-taggit-helpers
django-app-helper>=2.0.0a2
sphinx-autobuild
djangocms-video
pytest
pytest-django
pytest-asyncio
bump2version
https://github.com/hawkowl/towncrier/archive/master.zip
