-r requirements.txt
coverage==5.1
coveralls>=2.0
wheel==0.34.2
pep517==0.8.2
invoke==1.4.1
tox>=2.0
wheel==0.34.2
pysolr==3.9.0
aldryn-search
django-taggit-helpers
django-app-helper>=2.0.0a2
sphinx-autobuild
djangocms-video
pytest
pytest-django
pytest-asyncio
bump2version
https://github.com/hawkowl/towncrier/archive/master.zip
