-r requirements.txt
coverage<5.0
coveralls
mock>=1.0.1
django-nose>=1.2
flake8
tox>=2.0
wheel
pysolr
django-parler>=1.6
aldryn-search
django-taggit-helpers
django-app-helper>=2.0.0a2
sphinx-autobuild
djangocms-video
