{% load i18n thumbnail cms_tags %}
{% load url from future %}

<article id="post-{{ post.slug }}" class="post-item">
    <header>
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
		{% block blog_meta %}
            <ul class="post-detail">
                <li>
                    {% trans "by" %} <a href="{% url 'djangocms_blog:posts-author' post.author.username %}">{{ post.author.get_full_name }}</a>
                </li>
                <li>
                    {{ post.date_published|date:"M d, Y" }}
                </li>
            </ul>
            <ul class="post-detail tags">
                {% if post.categories.exists %}
                    {% for category in post.categories.all %}
                        <li class="category_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-category' category=category.slug %}" class="blog-categories-{{ category.count }}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}</li>
                    {% endfor %}
			    {% endif %}
                {% if post.tags.exists %}
                    {% for tag in post.tags.all %}
                        <li class="tag_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-tagged' tag=tag.slug %}" class="blog-tag blog-tag-{{ tag.count }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}</li>
                    {% endfor %}
			    {% endif %}
            </ul>
		{% endblock %}
    </header>
    {% if image and post.main_image %}
    <div class="blog-visual">
        {% thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location as thumb %}
        <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
    </div>
    {% endif %}
    <div class="blog-lead">
        {% if not TRUNCWORDS_COUNT %}
            {% render_model post "abstract" %}
        {% else %}
            {% render_model post "abstract" "" "" 'truncatewords_html:TRUNCWORDS_COUNT'  %}
        {% endif %}
    </div>
    <footer class="read-more">
        <a href="{{ post.get_absolute_url }}">{% trans "read more" %} &raquo;</a>
    </footer>
</article>