{% load cms_tags static menu_tags sekizai_tags %}
<!DOCTYPE html {% render_block 'html_extra' %}>
<html>
<head>
    <title>{% block title %}{% page_attribute 'title' %}{% endblock title %}</title>
    {% include "meta/meta.html" %}
    {% render_block "css" %}
    {% block canonical_url %}{% endblock canonical_url %}
    <style type="text/css">
        .nav {
            padding-left: 0;
        }
        .nav li {
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }
    </style>
</head>
<body>
{% cms_toolbar %}
<div style="width: 940px; margin:0 auto">
    <ul class="nav">
        {% show_menu 0 100 100 100 %}
    </ul>
    <h1>{% page_attribute "title" %}</h1>
    <div>{% placeholder "some_placeholder" %}</div>
    {% block content %}
        {% placeholder "content" %}
    {% endblock content %}
</div>
{% render_block "js" %}
{% with_data "js-script" as jsset %}
        {% for js in jsset %}<script type="text/javascript" src="{% static js %}"></script>{% endfor %}
{% end_with_data %}
{% render_block "js_end" %}
</body>
</html>
