{% extends CMS_TEMPLATE %}
{% load cms_tags %}

{% block meta %}
    {%  if meta %}
        {% include "meta/meta.html" %}
    {% endif %}
{% endblock meta %}

{% block content %}
<div class="app app-blog">
    {% render_placeholder view.config.placeholder_common_header %}
    {% render_placeholder view.config.placeholder_common_top %}
    {% block content_blog %}{% endblock %}
    {% render_placeholder view.config.placeholder_common_bottom %}
    {% render_placeholder view.config.placeholder_common_footer %}
</div>
{% endblock content %}


{% block sidebar %}
    {% block sidebar_blog %}{% endblock %}
    {% render_placeholder view.config.placeholder_common_sidebar %}
{% endblock sidebar %}