{% extends "djangocms_blog/base.html" %}
{% load i18n easy_thumbnails_tags cms_tags %}{% spaceless %}

{% block canonical_url %}<link rel="canonical" href="{{ view.get_view_url }}"/>{% endblock canonical_url %}

{% block content_blog %}
<section class="blog-list">
    {% for category in category_list %}
        {% include "djangocms_blog/includes/category_item.html" with category=category image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
    {% empty %}
        <p class="blog-empty">{% trans "No article found." %}</p>
    {% endfor %}
    {% if author or archive_date or tagged_entries %}
    <p class="blog-back"><a href="{% url 'djangocms_blog:posts-latest' %}">{% trans "Back" %}</a></p>
    {% endif %}
    {% if is_paginated %}
    <nav class="{% firstof css_grid instance.css_grid %} pagination">
        {% if page_obj.has_previous %}
            <a href="?{{ view.page_kwarg }}={{ page_obj.previous_page_number }}">&laquo; {% trans "previous" %}</a>
        {% endif %}
        <span class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?{{ view.page_kwarg }}={{ page_obj.next_page_number }}">{% trans "next" %} &raquo;</a>
        {% endif %}
    </nav>
    {% endif %}
</section>
{% endblock %}
{% endspaceless %}
