{% extends "djangocms_blog/base.html" %}
{% load i18n thumbnail cms_tags %}
{% load url from future %}

{% block content_blog %}
<article id="post-{{ post.slug }}" class="post-item post-detail">
    <header>
        <h2>{% show_editable_model post "title" %}</h2>
		{% block blog_meta %}
		<div class="blog-meta">
			{{ post.date_published|date:"d F Y" }}
            <div class="blog-author">{% trans "by" %} <a href="{% url 'djangocms_blog:author-posts' post.author.username %}">{{ post.author }}</a></div>
			{% if post.tags.exists %}
            <nav class="blog-tags">
                {% for tag in post.tags.all %}
                    <a href="{% url 'djangocms_blog:tagged-posts' tag=tag.slug %}" class="blog-tag blog-tag-{{ tag.count }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </nav>
			{% endif %}
		</div>
		{% endblock %}
    </header>
    {% if image and post.main_image_id %}
    <div class="blog-visual">
        {% thumbnail post.main_image thumbnail_options.size crop=thumbnail_options.crop upscale=thumbnail_options.upscale as thumb %}
        <img src="{{ thumb.url }}" alt="" width="{{ thumb.width }}" height="{{ thumb.height }}" />
    </div>
    {% endif %}
    <div class="blog-lead">{% show_editable_model post "abstract" "abstract" "" safe %}</div>
	<div class="blog-content">{% render_placeholder post.content %}</div>
</article>
{% endblock content_blog %}