{% extends "djangocms_blog/base.html" %}
{% load i18n thumbnail cms_tags %}
{% load url from future %}

{% block meta_description %}{{ post.meta_description }}{% endblock meta_description %}
{% block meta_keywords %}{{ post.meta_keywords }}{% endblock meta_keywords %}
{% block canonical_url %}<link rel="canonical" href="{{ SITE.domain }}{{ view.get_view_url }}"/>{% endblock canonical_url %}

{% block content_blog %}{% spaceless %}
<article id="post-{{ post.slug }}" class="post-item post-detail">
    <header>
        <h2>{% render_model post "title" %}</h2>
		{% block blog_meta %}
			<ul class="post-detail">
	            <li>
	                {% trans "by" %} <a href="{% url 'djangocms_blog:posts-author' post.author.username %}">{{ post.author.get_full_name }}</a>
	            </li>
	            <li>
	                {{ post.date_published|date:"M d, Y" }}
	            </li>
	        </ul>
	        <ul class="post-detail tags">
	            {% if post.categories.exists %}
	                {% for category in post.categories.all %}
	                    <li class="category_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-category' category=category.slug %}" class="blog-categories-{{ category.count }}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}</li>
	                {% endfor %}
			    {% endif %}
	            {% if post.tags.exists %}
	                {% for tag in post.tags.all %}
	                    <li class="tag_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-tagged' tag=tag.slug %}" class="blog-tag blog-tag-{{ tag.count }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}</li>
	                {% endfor %}
			    {% endif %}
	        </ul>
		{% endblock %}
    </header>
    {% if post.main_image_id %}
    <div class="blog-visual">
        {% thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location  as thumb %}
        <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
    </div>
    {% endif %}
	<div class="blog-content">{% render_placeholder post.content %}</div>
</article>
{% endspaceless %}{% endblock content_blog %}